{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <h3>Please provide your full name and email</h3>
</div>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<div class="row">
    <h5><strong>Instructions:</strong></h5>
    <ol>
        <li>Do not use the back button on your browser.</li>
        <li>Do not navigate away from the browser session during the assessment.</li>
        <li>Complete the assessment in one session.</li>
        <li>Have a stable internet connection.</li>
        <li>Please note that it is not permitted to copy and/or publish any of the test content.</li>
    </ol>
</div>
{% endblock %}