{% extends "base.html" %}
{% block app_content %}
<h1>Hi {{ current_user.username }}</h1>
<table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}" /></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last Seen On: {{ moment( user.last_seen ).format('LLL') }}</p>{% endif %}
            <p>{{ user.answers.count() }} answers, answering {{ user.answered.count() }}</p>
        </td>
    </tr>
</table>

{% if user == current_user %}
    <p><a href="{{ url_for('main.edit_profile') }}">Edit Profile</a></p>

    <p>
        <form action="{{ url_for('main.answer', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Answer') }}
        </form>
    </p>
    {% else %}
    <p>
        <form action="{{ url_for('main.unanswer', username=user.username )}}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Un-Answer') }}
        </form>
    </p>
    {% endif %}

    {% for question in questions %}
        {% include '_question.html' %}
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer questions
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older questions <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}